body {
  margin: 0;
  padding: 0;
  background: #a7e1cf;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}



@media (min-width: 600px) {
  #root {
    width: 400px;
    margin: 0 auto;
  }
}